<p style="color: green"><%= notice %></p>


<!-- cl_image_tag('qdlcmpmwrvqibgy2c513') -->
<% @article.photos.each do |photo| %>
	<%= cl_image_tag photo.key, width: 100, height: 100 %>
<% end %>



<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", root_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
